footer{
  float: left;
  width: 1300px;

$layer-color: rgba(16, 109, 179, .7);

  h4{
    display: block;
    margin: 40px 0px 40px 360px;
    font-size: 52px;
    color: #083452;
    transform: scale(1,1.75);
    font-weight: 406;
    width: 100%;
  }

  figure:nth-child(2){
    display: inline-block;
    height: 330px;
    width: 325px;
    background-image: url(../assets/article-image-1.jpg);
    margin: 0px;
    margin-left: 0px;

    span{
      margin-left: 10px;
      display: inline-block;
      color: #083452;
      padding-top: 230px;
      font-size: 25px;
      font-family: 'Myriad' sans-serif;
      transform: scale(1,1.5);
    }
  }

  figure:nth-child(3){
    display: inline-block;
    height: 330px;
    width: 325px;
    background-image: url(../assets/article-image-2.jpg);
    margin: 0px;

    span{
      margin-left: 20px;
      display: inline-block;
      color: #FFFFFF;
      padding-top: 230px;
      font-size: 25px;
      font-family: 'Myriad' sans-serif;
      transform: scale(1,1.5);
    }
  }

  figure:nth-child(4){
    display: inline-block;
    height: 330px;
    width: 325px;
    background-image: url(../assets/article-image-3.jpg);
    margin: 0px;



  }

  figure:nth-child(5){
    display: inline-block;
    height: 330px;
    width: 325px;
    background-image: url(../assets/article-image-4.jpg);
    margin: 0px;

  }
    .layer1{
      background-color: $layer-color;
      height: 100%;
      width: 100%;
    }

    .navbar{
      width: 100%;
      height: 100px;
      background-color: #083452;

      img{
        margin-left: 165px;
        margin-top: 25px;
        float: left;
      }

      .legal {
        display: inline-block;
        margin-left: 10px;
        margin-top: 40px;
        float: left;
        font-family: 'Myriad' sans-serif;
        color: #A3B3BF;
        font-weight: lighter;
        font-size: 14px;
      }

      a.nav1{
        display: inline-block;
        margin-left: 300px;
      }

      a{
        height: 14px;
        display: inline-block;
        text-decoration: none;
        color: #A3B3BF;
        font-family: 'Myriad' sans-serif;
        margin-top: 40px;
        margin-left: 10px;
        padding-right:  10px;
        border-right: 1px solid #5E686F;
        font-size: 14px;
        font-weight: lighter;
      }

      a.nav4{
        border-right: none;
      }
    }
}

footer figure a{
  text-decoration: none;
  margin-left: 20px;
  display: inline-block;
  color: #083452;
  padding-top: 230px;
  font-size: 25px;
  font-family: 'Myriad' sans-serif;
  transform: scale(1,1.5);
  }


footer figure a:hover{
  text-decoration: none;
  margin-left: 20px;
  display: inline-block;
  color: #FFFFFF;
  padding-top: 230px;
  font-size: 25px;
  font-family: 'Myriad' sans-serif;
  transform: scale(1,1.5);
  background-color: none;
}

  footer figure:nth-child(4) a{
    padding-top: 200px;
  }
